<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <a
      routerLink="/"
      class="flex items-center gap-2 text-2xl font-bold text-white"
    >
      <img
        ngSrc="assets/images/svt-logo.jpg"
        alt="Logo"
        class="mr-2 inline-block rounded-full"
        height="48"
        width="48"
        priority
      />
      Seventeen
    </a>
    <button
      id="menu-button"
      type="button"
      class="md:hidden"
      (click)="toggleMenu()"
    >
      <svg
        id="menu-open-icon"
        class="h-6 w-6 fill-white"
        viewBox="0 0 1024 1024"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z"
        ></path>
      </svg>

      <svg
        id="menu-close-icon"
        class="hidden h-6 w-6 stroke-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <div
      id="menu"
      class="absolute left-0 top-20 hidden w-full flex-col items-center bg-gray-800 md:static md:top-0 md:flex md:w-auto md:flex-row"
    >
      <a
        routerLink="/members"
        routerLinkActive="text-white"
        class="px-4 py-2 text-gray-300 hover:text-white"
        id="link-1"
        >Members</a
      >
      <a
        routerLink="/quiz"
        routerLinkActive="text-white"
        class="px-4 py-2 text-gray-300 hover:text-white"
        id="link-2"
        >Quiz</a
      >
      <a
        routerLink="/contact"
        routerLinkActive="text-white"
        class="px-4 py-2 text-gray-300 hover:text-white"
        id="link-3"
        >Data</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-gray-800 py-4 text-center text-white">
  <p>&copy; 2024 Seventeen</p>
</footer>
