<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a
      routerLink="/"
      class="text-white text-2xl font-bold flex items-center gap-2"
    >
      <img
        ngSrc="assets/images/svt-logo.jpg"
        alt="Logo"
        class="inline-block mr-2 rounded-full"
        height="48"
        width="48"
        priority
      />
      Seventeen
    </a>
    <button
      id="menu-button"
      type="button"
      class="md:hidden"
      (click)="toggleMenu()"
    >
      <svg
        id="menu-open-icon"
        class="fill-white h-6 w-6"
        viewBox="0 0 1024 1024"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M904 160H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0 624H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8zm0-312H120c-4.4 0-8 3.6-8 8v64c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-64c0-4.4-3.6-8-8-8z"
        ></path>
      </svg>

      <svg
        id="menu-close-icon"
        class="hidden h-6 w-6 stroke-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <div
      id="menu"
      class="hidden md:static md:flex md:flex-row flex-col items-center absolute bg-gray-800 md:w-auto w-full md:top-0 top-20 left-0"
    >
      <a
        routerLink="/members"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white px-4 py-2"
        id="link-1"
        >Members</a
      >
      <a
        routerLink="/quiz"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white px-4 py-2"
        id="link-2"
        >Quiz</a
      >
      <a
        routerLink="/contact"
        routerLinkActive="text-white"
        class="text-gray-300 hover:text-white px-4 py-2"
        id="link-3"
        >Data</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-gray-800 text-white text-center py-4">
  <p>&copy; 2021 Seventeen</p>
</footer>
