<div class="w-full space-y-6 bg-white py-6 text-center md:py-12 lg:space-y-10">
  <div class="space-y-2">
    <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl md:text-6xl">
      Members
    </h1>
    <p
      class="mx-auto max-w-3xl text-gray-500 md:text-xl/relaxed dark:text-gray-400"
    >
      Seventeen is a South Korean boy band formed by Pledis Entertainment. The
      group consists of 13 members.
    </p>
  </div>
  <div
    class="grid w-full grid-cols-2 items-center justify-center gap-6 md:grid-cols-4"
  >
    <a
      [routerLink]="['/members', 'scoups']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="S.Coups"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/scoups.jpeg"
        width="150"
      />
      <div class="font-semibold">S.Coups</div>
    </a>
    <a
      [routerLink]="['/members', 'jeonghan']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Jeonghan"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/jeonghan.jpeg"
        width="150"
      />
      <div class="font-semibold">Jeonghan</div>
    </a>
    <a
      [routerLink]="['/members', 'joshua']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Joshua"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/joshua.jpeg"
        width="150"
      />
      <div class="font-semibold">Joshua</div>
    </a>
    <a
      [routerLink]="['/members', 'jun']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Jun"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/jun.png"
        width="150"
      />
      <div class="font-semibold">Jun</div>
    </a>
    <a
      [routerLink]="['/members', 'hoshi']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Hoshi"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/hoshi.jpeg"
        width="150"
      />
      <div class="font-semibold">Hoshi</div>
    </a>
    <a
      [routerLink]="['/members', 'wonwoo']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Wonwoo"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/wonwoo.jpeg"
        width="150"
      />
      <div class="font-semibold">Wonwoo</div>
    </a>
    <a
      [routerLink]="['/members', 'wonwoo']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Woozi"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/woozi.jpeg"
        width="150"
      />
      <div class="font-semibold">Woozi</div>
    </a>
    <a
      [routerLink]="['/members', 'dk']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="DK"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/dk.jpeg"
        width="150"
      />
      <div class="font-semibold">DK</div>
    </a>
    <a
      [routerLink]="['/members', 'mingyu']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Mingyu"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/mingyu.jpeg"
        width="150"
      />
      <div class="font-semibold">Mingyu</div>
    </a>
    <a
      [routerLink]="['/members', 'the8']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="The8"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/the8.jpeg"
        width="150"
      />
      <div class="font-semibold">The8</div>
    </a>
    <a
      [routerLink]="['/members', 'seungkwan']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Seungkwan"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/seungkwan.jpeg"
        width="150"
      />
      <div class="font-semibold">Seungkwan</div>
    </a>
    <a
      [routerLink]="['/members', 'vernon']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Vernon"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/vernon.jpeg"
        width="150"
      />
      <div class="font-semibold">Vernon</div>
    </a>
    <a
      [routerLink]="['/members', 'dino']"
      class="flex flex-col items-center justify-center space-y-2"
    >
      <img
        alt="Dino"
        class="overflow-hidden rounded-full object-cover"
        height="150"
        ngSrc="assets/images/dino.jpeg"
        width="150"
      />
      <div class="font-semibold">Dino</div>
    </a>
  </div>
</div>
